<!DOCTYPE html>
<html>
    
    <head>
        <title>慕课商城 - 后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- bootstrap -->
        <link href="/admin_css/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="/admin_css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
        <link href="/admin_css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
        <!-- libraries -->
        <link href="/admin_css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
        <link href="/admin_css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="/admin_css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/admin_css/elements.css" />
        <link rel="stylesheet" type="text/css" href="/admin_css/icons.css" />
        <!-- this page specific styles -->
        <link rel="stylesheet" href="/admin_css/compiled/index.css" type="text/css" media="screen" />
        <link href="/admin_css/lib/bootstrap-wysihtml5.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="/admin_css/compiled/form-showcase.css" type="text/css" media="screen" />
        <!-- open sans font -->
        <!-- lato font -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
    
    <body>
        
        <!-- end sidebar -->
        <link rel="stylesheet" href="/admin_css/compiled/new-user.css" type="text/css" media="screen" />
        <!-- main container -->
        <div class="content">
            <div class="container-fluid">
                <div id="pad-wrapper" class="new-user">
                    <div class="row-fluid header">
                        <h3>添加新管理员</h3></div>
                    <div class="row-fluid form-wrapper">
                        <!-- left column -->
                        <div class="span9 with-sidebar">
                            <div class="container">
                                <form id="w0" class="new_user_form inline-input" >
                                    <input type="hidden" name="_csrf" value="My1Fc0FTZ2JBYyIVOWFKCAIVJCM5JRI3Qh0kPxQwLxRXahQKcyckEA==">
                                    <div class="form-group field-admin-adminuser">
                                        <div class="span12 field-box">
                                            <label class="control-label" for="admin-adminuser">管理员账号</label>
                                            <input type="text" id="admin-adminuser" class="span9" name="adminuser">
										</div>
										<div class="col-md-2 input-group" style="float: left;">
											<span id="admin-adminuser_error" class="help-block" style="color:#a94442;"></span>
										</div>
                                        <p class="help-block help-block-error"></p>
                                    </div>
                                    <div class="form-group field-admin-adminemail">
                                        <div class="span12 field-box">
                                            <label class="control-label" for="admin-adminemail">管理员邮箱</label>
                                            <input type="text" id="admin-adminemail" class="span9" name="adminemail"></div>
                                        <div class="col-md-2 input-group" style="float: left;">
											<span id="admin-adminemail_error" class="help-block" style="color:#a94442;"></span>
										</div>
                                        <p class="help-block help-block-error"></p>
                                    </div>
                                    <div class="form-group field-admin-adminpass">
                                        <div class="span12 field-box">
                                            <label class="control-label" for="admin-adminpass">管理员密码</label>
                                            <input type="password" id="admin-adminpass" class="span9" name="adminpass" value=""></div>
                                        <div class="col-md-2 input-group" style="float: left;">
											<span id="admin-adminpass_error" class="help-block" style="color:#a94442;"></span>
										</div>
                                        <p class="help-block help-block-error"></p>
                                    </div>
                                    <div class="form-group field-admin-repass">
                                        <div class="span12 field-box">
                                            <label class="control-label" for="admin-repass">确认密码</label>
                                            <input type="password" id="admin-repass" class="span9" name="adminrepass" value=""></div>
                                        <div class="col-md-2 input-group" style="float: left;">
											<span id="admin-adminrepass_error" class="help-block" style="color:#a94442;"></span>
										</div>
                                        <p class="help-block help-block-error"></p>
                                    </div>
                                    <div class="span11 field-box actions">
                                        <input name="button" type="button" class="btn-glow primary" onClick="rec()" value="创建" />
                                        <span>或者</span>
                                        <button type="reset" class="reset">取消</button>
									</div>
								</form>
                            </div>
                        </div>
                        <!-- side right column -->
                        <div class="span3 form-sidebar pull-right">
                            <div class="alert alert-info hidden-tablet">
                                <i class="icon-lightbulb pull-left"></i>请在左侧填写管理员相关信息，包括管理员账号，电子邮箱，以及密码</div>
                            <h6>重要提示：</h6>
                            <p>管理员可以管理后台功能模块</p>
                            <p>请谨慎添加</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- end main container -->
        <!-- scripts -->
        <script src="/admin_js/jquery-latest.js"></script>
        <script src="/admin_js/bootstrap.min.js"></script>
        <script src="/admin_js/jquery-ui-1.10.2.custom.min.js"></script>
        <!-- knob -->
        <script src="/admin_js/jquery.knob.js"></script>
        <!-- flot charts -->
        <script src="/admin_js/jquery.flot.js"></script>
        <script src="/admin_js/jquery.flot.stack.js"></script>
        <script src="/admin_js/jquery.flot.resize.js"></script>
        <script src="/admin_js/theme.js"></script>  
        <script src="/admin_js/wysihtml5-0.3.0.js"></script>
        <script src="/admin_js/bootstrap-wysihtml5-0.0.2.js"></script>
        <script type="text/javascript">
			  function rec(){
			   	var adminuser = $("#admin-adminuser").val();
	   		    var adminemail = $("#admin-adminemail").val();
				var adminpass = $("#admin-adminpass").val();
				var adminrepass = $("#admin-repass").val();
				if (adminuser == ""){
					$('#admin-adminuser_error').html("管理员用户名不能为空");
					return
				}
				if (adminemail == ""){
					$('#admin-adminemail_error').html("管理员邮箱不能为空");
					return
				}
				if (adminpass == ""){
					$('#admin-adminpass_error').html("管理员密码不能为空");
					return;
				}
				if (adminrepass !== adminpass){
					$('#admin-adminrepass_error').html("管理员两次输入密码不一致");
					return;
				}

				$.ajax({
					url : "/admin/addmanager",
					type : "POST",
					dataType : "JSON",
					data : {
						"Adminuser" : adminuser,
						"Adminemail" : adminemail,
						"Adminpass" : adminpass,
						"Adminrepass" : adminrepass,
					},
					success : function(data) {
						alert(data.Data);
					},
					error : function(error) {
						alert(adminuser," 添加失败");
					}
				});
			  }
		</script>
       
    </body>

</html> 